@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cccccc;
    --foreground: #2c2c2c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}



.background-admin {
  background-image: url("./139.svg");
  
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}